.stats-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(43, 255, 0, 0.1);
}

.stats-heading {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.stats-info {
  font-size: 16px;
  color: #555;
}

.stats-person-list {
  
  list-style: none;
  padding: 0;
  margin-top: 20px;
  background-color: rgba(175, 18, 18, 0);
}
.stats-person1-item{
  
  font-size: 18px;
  padding: 10px 0;
  margin-left: 20px;
  
  
}

.stats-person-item {
  font-size: 18px;
  padding: 10px 0;
  
}

.stats-person-item:last-child {
  border-bottom: none;
}

.stats-person-item strong {
  color: #333;
}

.stats-person-item span {
  color: #777;
}


@media (max-width: 480px) {
  .stats-container {
    max-width: 100%;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    padding: 10px;
  }

  .stats-heading {
    font-size: 20px;
  }

  .stats-person-item {
    font-size: 16px;
    background-color: #f5f5f5;
  }
}