.estadisticas-container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.titulo {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin: 10px 0;
}